<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/177f0e37f6.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <title>Bestec - Login</title>
</head>

<body class="relative bg-gray-900 flex flex-col items-center gap-4 m-6">
  <span class="block absolute w-full h-[2px] bg-gray-800 top-6 rounded-md"></span>
  <nav class="bg-gray-800 w-fit rounded-3xl flex justify-center items-center overflow-hidden z-10">
    <a href="{{url_for("index")}}"
      class="font-medium text-gray-400 hover:text-gray-300 px-4 py-3 hover:bg-gray-600 rounded-md">Página Inicial</a>
    <a href="{{url_for("login")}}"
      class="font-medium text-gray-400 hover:text-gray-300 px-4 py-3 hover:bg-gray-600 rounded-md">Categorias</a>
    <a href="{{url_for("login")}}"
      class="font-medium text-gray-400 hover:text-gray-300 px-4 py-3 hover:bg-gray-600 rounded-md">Minha Conta</a>
  </nav>
  <div class="flex flex-col justify-center items-center h-full">
    <main class="max-w-screen-lg bg-gray-800 rounded-lg flex flex-col md:flex-row shadow">
      <!-- Registro -->
      <div class="flex flex-col gap-4 p-16">
        <div class="flex justify-center w-full">
          <h1 class="text-2xl text-gray-400">
            Registro
          </h1>
        </div>
        <form class="flex flex-col text-gray-500" method="post" action="caduser">
          <input
            class="outline-none w-full h-12 bg-gray-900 rounded-md border-2 border-gray-900 transition-colors duration-200 ease-in-out text-white px-5 focus:border-blue-600"
            type="text" name="user" placeholder="Username" required />
          <input
            class="outline-none w-full h-12 bg-gray-900 rounded-md border-2 border-gray-900 transition-colors duration-200 ease-in-out text-white px-5 focus:border-blue-600 mt-4"
            type="email" name="mail" placeholder="E-Mail" required />
          <input
            class="outline-none w-full h-12 bg-gray-900 rounded-md border-2 border-gray-900 transition-colors duration-200 ease-in-out text-white px-5 focus:border-blue-600 mt-4"
            type="password" name="senha" placeholder="Senha" required />
          <label for="termo" class="text-gray-500 flex gap-2 items-center justify-center mt-4">
            <input class="hidden peer" id="termo" type="checkbox" name="termos" required />
            <span class="w-5 h-5 bg-gray-900 rounded-sm peer-checked:bg-blue-600 border-none cursor-pointer"></span>
            Li e aceito os <a href="#" class="text-gray-400 hover:text-blue-500">termos de uso</a>
          </label>
          <input
            class="outline-none bg-blue-600/50 mt-4 rounded-md h-12 border-0 text-gray-200 font-bold cursor-pointer transition-all duration-200 ease-in-out hover:bg-blue-600 hover:text-white"
            type="submit" value="Registrar" />
        </form>
      </div>

      <!-- Login -->
      <div class="border-t-2 border-gray-900/50 md:border-l-2 md:border-t-0 flex flex-col gap-4 p-16">
        <div class="flex justify-center w-full">
          <h1 class="text-2xl text-gray-400">
            Login
          </h1>
        </div>
        <form class="form flex flex-col text-gray-500" method="post" action="loguser">
          <input
            class="outline-none w-full h-12 bg-gray-900 rounded-md border-2 border-gray-900 transition-colors duration-200 ease-in-out text-white px-5 focus:border-blue-600"
            type="text" name="user" placeholder="Username" required />
          <input
            class="outline-none w-full h-12 bg-gray-900 rounded-md border-2 border-gray-900 transition-colors duration-200 ease-in-out text-white px-5 focus:border-blue-600 mt-4"
            type="password" name="senha" placeholder="Senha" required />
          <a class="mt-4 text-gray-500 hover:text-blue-600" href="#">Esqueceu a senha?</a>
          <input
            class="outline-none bg-blue-600/50 mt-4 rounded-md h-12 border-0 text-gray-200 font-bold cursor-pointer transition-all duration-200 ease-in-out hover:bg-blue-600 hover:text-white"
            type="submit" value="Entrar" />
          <div class="border-t-2 border-gray-700 mt-4 ">
            <a class="mt-4 flex justify-center items-center rounded-md bg-gray-900 h-12 text-gray-400 transition-all duration-200 ease-in-out hover:bg-blue-600 hover:text-white"
              href="#"><i class="fab fa-google mr-2"></i>Google</a>
          </div>
        </form>
      </div>
    </main>
  </div>
</body>

</html>
